<script src="~/js/SearchButtoon.js"></script>

@model IEnumerable<empform_ajax.Models.As1Employee>


@{
    ViewData["Title"] = "Asc";
}

<script>
    function SearchButton() {
        var query1 = $("#query").val();
        var obj = {
            query: query1
        }

        $.ajax({
            type: 'get',
            url: "/Work/Search",
            data: obj,

            success: function (data) {

                $("body").html(data);

            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }
</script>





<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form onsubmit="return false;">
    <input type="text" id="query" placeholder="Enter firstname here" onkeydown="if (event.keyCode === 13) SearchButton();">
    <button type="button" class="btn btn-success" style="background-color: blue; color: white;" onclick="SearchButton(); return false">
        Search
    </button>
</form>


<button id="myButton">Sort by FirstName</button>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dateofbirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skills)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dateofbirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation.Name)
                </td>
                <td>
                    @{
                        string a = "";
                        foreach (var i in item.Skills)
                        {
                            a = a + i.Name + ", ";
                        }
                        string result = a.Substring(0, a.Length - 2);
                        @result
                    }

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
